.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    .logo{
        img{
            width: Fixed (79.67px)
height: Fixed (86.4px)
padding: 20px, 40px, 20px, 40px
border-radius: 400px
gap: 20px

        }
    }
}